html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #8E2DE2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

body nav .menu-class .menu-logo {
  display: none;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
  list-style-type: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  margin-right: -40vw;
}

body nav ul a {
  font-size: 1.2vw;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body nav ul a:hover {
  background-color: white;
  color: #4A00E0;
  padding: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}

body nav ul a:focus {
  background-color: white;
  color: #4A00E0;
  padding: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}

body nav img {
  width: 12vw;
  margin-left: 10px;
  margin-top: 2px;
}

body nav .links {
  display: none;
}

body #intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

body #intro #intro-text {
  color: white;
  font-weight: bolder;
  font-size: 2.5vw;
  padding: 20px;
  letter-spacing: 2px;
}

body #intro #intro-text span {
  font-weight: lighter;
  font-size: 1.5vw;
}

body #intro #intro-text #watch-tutorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
}

body #intro #intro-text #watch-tutorial:hover {
  cursor: pointer;
}

body #intro #intro-text #watch-tutorial img {
  width: 3.5vw;
  margin-left: 5px;
}

body #intro #intro-text #watch-tutorial img:hover {
  cursor: pointer;
}

body #intro img {
  padding: 20px;
  width: 30vw;
  margin-left: 5em;
}

body #intro #wave1 {
  width: 100%;
  padding: 0;
  margin: 0;
}

body #services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #services .services-text {
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
}

body #services hr {
  width: 6vw;
  outline: none;
  border: solid #8E2DE2;
  margin-top: 2px;
}

body #services .services-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #services .services-photos .service1 {
  text-align: center;
  margin: 2vw 5vw;
  font-size: 1.5vw;
}

body #services .services-photos .service1 img {
  width: 10vw;
}

body #services .services-photos .service2 {
  text-align: center;
  margin: 2vw 5vw;
  font-size: 1.5vw;
}

body #services .services-photos .service2 img {
  width: 10vw;
}

body #services .services-photos .service3 {
  text-align: center;
  margin: 2vw 5vw;
  font-size: 1.5vw;
}

body #services .services-photos .service3 img {
  width: 10vw;
}

body #services .all-services {
  width: 10vw;
  height: 1.3vw;
  background: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  outline: none;
  border: solid 1px #8E2DE2;
  border-radius: 5vw;
  padding: 0.5vw;
  text-align: center;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.3vw;
  margin: 2vw auto;
}

body #services .all-services:hover {
  cursor: pointer;
  background: #8E2DE2;
  border: solid 1px #8E2DE2;
}

body #choose-us {
  background-color: #f3f3f3;
}

body #choose-us #why-choose {
  color: black;
  text-align: center;
  width: 100vw;
  padding: 10px 0 0 0;
  font-weight: bold;
  font-size: 2.5vw;
}

body #choose-us #why-choose hr {
  width: 6vw;
  border: solid #8E2DE2;
  outline: none;
  margin-top: 0.5vw;
}

body #choose-us #highlights-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #choose-us #highlights-pics #highlights {
  font-size: 2vw;
  font-weight: bold;
}

body #choose-us #highlights-pics #highlights ul li {
  font-weight: normal;
  font-size: 1.2vw;
  margin-bottom: 1.2vw;
}

body #choose-us #highlights-pics #network {
  margin-left: 10vw;
  margin-top: -2vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #choose-us #highlights-pics #network img {
  width: 20vw;
}

body #testimonials {
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  padding: 10px 0 5px 0;
}

body #testimonials hr {
  width: 6vw;
  border: solid #8E2DE2;
  outline: none;
  margin-top: 5px;
}

body #testimonials #clients-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #testimonials #clients-pics #client1 {
  margin: 5vw;
  border-left: solid 0.5vw #8E2DE2;
  padding-left: 10px;
}

body #testimonials #clients-pics #client1 #pic1 {
  font-size: 1.2vw;
  color: gray;
}

body #testimonials #clients-pics #client1 #pic1 b {
  font-size: 1.5vw;
  color: black;
}

body #testimonials #clients-pics #client1 #pic1 img {
  width: 7vw;
  border-radius: 100%;
}

body #testimonials #clients-pics #client1 #text1 {
  margin-top: 10px;
  font-size: 1.3vw;
  font-weight: normal;
}

body #testimonials #clients-pics #client2 {
  margin: 5vw;
  border-left: solid 0.5vw #8E2DE2;
  padding-left: 10px;
}

body #testimonials #clients-pics #client2 #pic2 {
  font-size: 1.2vw;
  color: gray;
}

body #testimonials #clients-pics #client2 #pic2 b {
  font-size: 1.5vw;
  color: black;
}

body #testimonials #clients-pics #client2 #pic2 img {
  width: 7vw;
  border-radius: 100%;
}

body #testimonials #clients-pics #client2 #text2 {
  margin-top: 10px;
  font-size: 1.3vw;
  font-weight: normal;
}

body #social-media {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f8f9fa));
  background: linear-gradient(to bottom, white, #f8f9fa);
}

body #social-media #social-media-text {
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
}

body #social-media #social-media-text hr {
  margin-top: 2px;
  width: 6vw;
  border: solid #8E2DE2;
  outline: none;
}

body #social-media #social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #social-media #social-media-icons img {
  width: 5.2vw;
  margin: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #social-media #social-media-icons img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

body footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body footer #wave2 {
  width: 100%;
}

body footer .footer-logo {
  margin: 2vw;
}

body footer .footer-logo img {
  width: 15vw;
}

body footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 1.5vw;
  font-weight: normal;
  text-align: center;
  margin: 3vw;
}

body footer .contact input {
  margin: 1vw;
  outline: none;
  width: 20vw;
  border: solid 0.1vw #8E2DE2;
  height: 2vw;
  border-radius: 0.5vw;
  font-weight: bold;
  font-size: 1.2vw;
}

body footer .contact div {
  width: 7vw;
  background: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  outline: none;
  border: solid 0.1vw #8E2DE2;
  border-radius: 5vw;
  padding: 0.5vw;
  text-align: center;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 1vw;
  margin-bottom: 1vw;
  font-size: 1.2vw;
}

body footer .contact div:hover {
  cursor: pointer;
  background: #8E2DE2;
  border: solid 0.1vw #8E2DE2;
}

body footer .credits {
  position: absolute;
  font-size: 1vw;
  color: white;
  bottom: 0.2vw;
  text-align: center;
  width: 15vw;
  margin: 0 auto;
  border: solid 0.1vw white;
  border-radius: 0.5vw;
}

@media only screen and (max-width: 426px) {
  body nav ul {
    display: none;
  }
  body nav img {
    width: 45vw;
    height: 15vw;
  }
  body nav .menu-class {
    width: 15vw;
    background-color: white;
    margin: 1vw;
    border-radius: 2vw;
    height: 15vw;
  }
  body nav .menu-class .menu-logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 7vw;
    height: 7vw;
    margin: 4vw;
  }
  body nav .links {
    top: 17vw;
    width: 100vw;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(#8E2DE2), to(#4A00E0));
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    text-align: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
  }
  body nav .links a {
    text-decoration: none;
    color: white;
  }
  body #intro #intro-text {
    font-size: 10vw;
    text-align: center;
  }
  body #intro #intro-text span {
    font-size: 6vw;
  }
  body #intro #intro-text #watch-tutorial {
    font-size: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body #intro #intro-text #watch-tutorial #play {
    width: 15vw;
    margin: 0 auto;
  }
  body #intro img {
    width: 50vw;
    margin: 0 auto;
  }
  body #services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #services .services-text {
    font-size: 7vw;
  }
  body #services hr {
    width: 20vw;
  }
  body #services .services-photos > div {
    margin: 5vw;
  }
  body #services .services-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #services .services-photos .service1 {
    text-align: center;
    font-size: 6vw;
  }
  body #services .services-photos .service1 img {
    width: 20vw;
  }
  body #services .services-photos .service2 {
    text-align: center;
    font-size: 6vw;
  }
  body #services .services-photos .service2 img {
    width: 20vw;
  }
  body #services .services-photos .service3 {
    text-align: center;
    font-size: 6vw;
  }
  body #services .services-photos .service3 img {
    width: 20vw;
  }
  body #services .all-services {
    margin: 2vw auto;
    width: 30vw;
    height: 6vw;
    font-size: 5vw;
  }
  body #choose-us #why-choose {
    font-size: 7vw;
  }
  body #choose-us #why-choose hr {
    width: 20vw;
  }
  body #choose-us #highlights-pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #choose-us #highlights-pics #highlights {
    margin: 0 auto;
    font-size: 5vw;
    padding: 5vw;
  }
  body #choose-us #highlights-pics #highlights ul li {
    font-size: 5vw;
  }
  body #choose-us #highlights-pics #network {
    margin: 0 auto;
  }
  body #choose-us #highlights-pics #network img {
    width: 80vw;
  }
  body #testimonials {
    font-size: 7vw;
  }
  body #testimonials hr {
    width: 20vw;
  }
  body #testimonials #clients-pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #testimonials #clients-pics #client1 {
    border-left: none;
  }
  body #testimonials #clients-pics #client1 #pic1 img {
    width: 25vw;
  }
  body #testimonials #clients-pics #client1 #pic1 b {
    font-size: 7vw;
  }
  body #testimonials #clients-pics #client1 #pic1 {
    font-size: 5vw;
  }
  body #testimonials #clients-pics #client1 #text1 {
    font-size: 5vw;
  }
  body #testimonials #clients-pics #client2 {
    border-left: none;
  }
  body #testimonials #clients-pics #client2 #pic2 img {
    width: 25vw;
  }
  body #testimonials #clients-pics #client2 #pic2 b {
    font-size: 7vw;
  }
  body #testimonials #clients-pics #client2 #pic2 {
    font-size: 5vw;
  }
  body #testimonials #clients-pics #client2 #text2 {
    font-size: 5vw;
  }
  body #social-media #social-media-text {
    font-size: 7vw;
  }
  body #social-media #social-media-text hr {
    width: 20vw;
  }
  body #social-media #social-media-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #social-media #social-media-icons img {
    width: 20vw;
  }
  body footer .footer-logo img {
    width: 50vw;
  }
  body footer .contact {
    font-size: 5vw;
  }
  body footer .contact input {
    width: 60vw;
    height: 8vw;
    border-radius: 1.5vw;
    font-size: 5vw;
  }
  body footer .contact input::-webkit-input-placeholder {
    font-size: 4vw;
  }
  body footer .contact input:-ms-input-placeholder {
    font-size: 4vw;
  }
  body footer .contact input::-ms-input-placeholder {
    font-size: 4vw;
  }
  body footer .contact input::placeholder {
    font-size: 4vw;
  }
  body footer .contact div {
    margin: 0 auto;
    width: 30vw;
    font-size: 6vw;
    margin-bottom: 25vw;
  }
  body footer .credits {
    font-size: 4.5vw;
    width: 50vw;
    border-radius: 2vw;
  }
}

@media only screen and (max-width: 768px) and (min-width: 427px) {
  body nav ul li a {
    font-size: 1.7vw;
  }
  body nav ul {
    margin-left: -18vw;
  }
  body nav img {
    width: 20vw;
  }
  body #intro #intro-text {
    font-size: 3.5vw;
  }
  body #intro #intro-text span {
    font-size: 2vw;
  }
  body #intro #intro-text #watch-tutorial {
    font-size: 2vw;
  }
  body #intro #intro-text #watch-tutorial img {
    width: 5vw;
  }
  body #intro img {
    margin-left: -2vw;
    width: 40vw;
  }
  body #services .services-text {
    font-size: 4vw;
  }
  body #services hr {
    width: 10vw;
  }
  body #services .services-photos .service1 {
    font-size: 2.5vw;
  }
  body #services .services-photos .service2 {
    font-size: 2.5vw;
  }
  body #services .services-photos .service3 {
    font-size: 2.5vw;
  }
  body #services .all-services {
    font-size: 3vw;
    width: 20vw;
    height: 3.5vw;
  }
  body #choose-us #why-choose {
    font-size: 4vw;
  }
  body #choose-us #why-choose hr {
    width: 10vw;
  }
  body #choose-us #highlights-pics #highlights {
    font-size: 3vw;
  }
  body #choose-us #highlights-pics #highlights ul li {
    font-size: 2vw;
  }
  body #choose-us #highlights-pics #network img {
    width: 35vw;
  }
  body #testimonials {
    font-size: 4vw;
  }
  body #testimonials hr {
    width: 10vw;
  }
  body #testimonials #clients-pics #client1 #pic1 img {
    width: 10vw;
  }
  body #testimonials #clients-pics #client1 #pic1 b {
    font-size: 2vw;
  }
  body #testimonials #clients-pics #client1 #pic1 {
    font-size: 1.5vw;
  }
  body #testimonials #clients-pics #client1 #text1 {
    font-size: 2vw;
  }
  body #testimonials #clients-pics #client2 #pic2 img {
    width: 10vw;
  }
  body #testimonials #clients-pics #client2 #pic2 b {
    font-size: 2vw;
  }
  body #testimonials #clients-pics #client2 #pic2 {
    font-size: 1.5vw;
  }
  body #testimonials #clients-pics #client2 #text2 {
    font-size: 2vw;
  }
  body #social-media #social-media-text {
    font-size: 4vw;
  }
  body #social-media #social-media-text hr {
    width: 10vw;
  }
  body #social-media #social-media-icons img {
    width: 8vw;
  }
  body footer .footer-logo img {
    width: 20vw;
  }
  body footer .contact {
    font-size: 3vw;
  }
  body footer .contact input {
    width: 30vw;
    height: 4vw;
    border-radius: 1vw;
    font-size: 2.5vw;
  }
  body footer .contact input::-webkit-input-placeholder {
    font-size: 2vw;
  }
  body footer .contact input:-ms-input-placeholder {
    font-size: 2vw;
  }
  body footer .contact input::-ms-input-placeholder {
    font-size: 2vw;
  }
  body footer .contact input::placeholder {
    font-size: 2vw;
  }
  body footer .contact div {
    width: 10vw;
    font-size: 2vw;
    margin-bottom: 10vw;
  }
  body footer .credits {
    font-size: 2vw;
    width: 30vw;
    border-radius: 1vw;
  }
}
/*# sourceMappingURL=homepage.css.map */
