html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #8E2DE2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E2DE2,#4A00E0,);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E2DE2,#4A00E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        position: sticky;
        top: 0;
        width: 100%;
        .menu-class{
            .menu-logo{
                display: none;
            }
        }
        ul{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 3vw;
            list-style-type: none;
            color: white;
            align-items: center;
            padding: 0 5px;
            margin-right: -40vw;
            a{
                font-size: 1.2vw;
                text-decoration: none;
                color: white;
                transition: 0.3s;
                &:hover{
                    background-color: white;
                    color: #4A00E0;
                    padding: 0 5px;
                    border-radius: 5px;
                    font-weight: bold;
                }
                &:focus{
                    background-color: white;
                    color: #4A00E0;
                    padding: 0 5px;
                    border-radius: 5px;
                    font-weight: bold
                }
            }  

        }
        img{
            width: 12vw;
            margin-left: 10px;
            margin-top: 2px;    
        }
        .links{
            display: none;
        }
    }
    #intro{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #8E2DE2,#4A00E0);
        #intro-text{
            color: white;
            font-weight: bolder;
            font-size: 2.5vw;
            padding: 20px;
            letter-spacing: 2px;
            span{
                font-weight: lighter;
                font-size: 1.5vw;
            }
            #watch-tutorial{
                display: flex;
                align-items: center;
                font-size: 1.2vw;
                &:hover{
                    cursor: pointer;
                }
                img{
                    width: 3.5vw;
                    margin-left: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        img{
            padding: 20px;
            width: 30vw;
            margin-left: 5em;
        }
        #wave1{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
   #services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .services-text{
            text-align: center;
            font-size: 2.5vw;
            font-weight: bold;
        }
        hr{
            width: 6vw;
            outline: none;
            border: solid #8E2DE2;
            margin-top: 2px;
        }
        .services-photos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .service1{
                text-align: center;
                margin: 2vw 5vw;
                font-size: 1.5vw;
                img{
                    width: 10vw;
                }
            }
            .service2{
                text-align: center;
                margin: 2vw 5vw;
                font-size: 1.5vw;
                img{
                    width: 10vw;
                }
            }
            .service3{
                text-align: center;
                margin: 2vw 5vw;
                font-size: 1.5vw;
                img{
                    width: 10vw;
                }
            }
        }
        .all-services{
            width: 10vw;
            height: 1.3vw;
            background: linear-gradient(to right,#8E2DE2,#4A00E0);
            outline: none;
            border: solid 1px #8E2DE2;
            border-radius: 5vw;
            padding:0.5vw;
            text-align: center;
            color:white;
            transition: 0.3s;
            font-size: 1.3vw;
            margin: 2vw auto;
            &:hover{
                cursor: pointer;
                background:#8E2DE2;
                border: solid 1px #8E2DE2;
            }
        }

    }
    #choose-us{
        background-color: rgb(243, 243, 243);
        #why-choose{
            hr{
                width: 6vw;
                border: solid #8E2DE2;
                outline: none;
                margin-top: 0.5vw;
            }
            color: black;
            text-align: center;
            width: 100vw;
            padding: 10px 0 0 0;
            font-weight: bold;
            font-size: 2.5vw;
        }
        #highlights-pics{
            display: flex;
            flex-direction: row;
            justify-content: center;
            #highlights{
                font-size: 2vw;
                font-weight: bold;
                ul{

                    li{
                        font-weight: normal;
                        font-size: 1.2vw;
                        margin-bottom: 1.2vw;
                    }
                }
                
            }
            #network{
                margin-left: 10vw;
                margin-top: -2vw;
                align-self: center;
                img{
                    width: 20vw;
                }
            }
        }
    }
    #testimonials{
        text-align: center;
        font-size: 2.5vw;
        font-weight: bold;
        padding: 10px 0 5px 0;
        hr{
            width:6vw;
            border:solid #8E2DE2;
            outline: none;
            margin-top: 5px; 
        }
        #clients-pics{
            display: flex;
            flex-direction: row;
            justify-content: center;
            #client1{
                margin: 5vw;
                border-left: solid 0.5vw #8E2DE2;
                padding-left: 10px;
                #pic1{
                    b{
                        font-size: 1.5vw;
                        color: black;
                    }
                    font-size: 1.2vw;  
                    color: gray; 
                    img{
                        width: 7vw;
                        border-radius:100%;
                    }      
                }
                #text1{
                    margin-top: 10px;
                    font-size: 1.3vw;
                    font-weight: normal;
                }
                
            }
            #client2{
                margin: 5vw;
                border-left: solid 0.5vw #8E2DE2;
                padding-left: 10px;
                #pic2{
                    b{
                        font-size: 1.5vw;
                        color: black;
                    }
                    font-size: 1.2vw;
                    color: gray;
                    img{
                        width: 7vw;
                        border-radius:100%;
                    }
                        
                }
                #text2{
                    margin-top: 10px;
                    font-size: 1.3vw;
                    font-weight: normal;
                }
            }
        }

    }
    #social-media{
        background:linear-gradient(to bottom,white,#f8f9fa);
        #social-media-text{
            font-weight: bold;
            font-size: 2.5vw;
            text-align: center;
            hr{
                margin-top: 2px;
                width: 6vw;
                border:solid #8E2DE2;
                outline: none;
            }
        }
        #social-media-icons{
            display: flex;
            justify-content: center;
            img{
                width: 5.2vw;
                margin: 20px;
                transition: 0.3s;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.2,1.2);
                }
            }
        }
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        background:linear-gradient(to right, #8E2DE2,#4A00E0);
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        #wave2{
            width: 100%;
        }
        .footer-logo{
            margin: 2vw;
            img{
                width: 15vw;
            }
        }
        .contact{
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: white;
            font-size: 1.5vw;
            font-weight: normal;
            text-align: center;
            margin: 3vw;
            input{
                margin: 1vw;
                outline: none;
                width: 20vw;
                border:solid 0.1vw #8E2DE2;
                height: 2vw;
                border-radius: 0.5vw;
                font-weight:bold;
                font-size: 1.2vw;
            }
            div{
                width: 7vw;
                background: linear-gradient(to right,#8E2DE2,#4A00E0);
                outline: none;
                border: solid 0.1vw #8E2DE2;
                border-radius: 5vw;
                padding:0.5vw;
                text-align: center;
                color:white;
                transition: 0.3s;
                margin-left: 1vw;
                margin-bottom: 1vw;
                font-size: 1.2vw;
                &:hover{
                    cursor: pointer;
                    background:#8E2DE2;
                    border: solid 0.1vw #8E2DE2;
                }
            }
        }
        .credits{
            position: absolute;
            font-size: 1vw;
            color: white;
            bottom: 0.2vw;
            text-align: center;
            width: 15vw;
            margin: 0 auto;
            border:solid 0.1vw white;
            border-radius: 0.5vw;
        }
    }  
}
@media only screen and (max-width:426px)
{
    body{

        nav{
            ul{
                display: none;
            }
            img{
                width: 45vw;
                height: 15vw;
            }
            .menu-class{
                width: 15vw;
                background-color: white;
                margin: 1vw;
                border-radius: 2vw;
                height: 15vw;
                .menu-logo{
                    display: inline-flex;
                    width: 7vw;
                    height: 7vw;
                    margin: 4vw;
                }
            }
              
            .links{
                top:17vw;
                width: 100vw;
                position: absolute;
                background: linear-gradient(to right, #8E2DE2,#4A00E0);;
                text-align: center;
                display: none;
                flex-direction: column;
                border-bottom-left-radius: 5vw;
                border-bottom-right-radius: 5vw;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
       
        
        #intro{
            #intro-text{
                font-size: 10vw;
                text-align: center;
                span{
                    font-size: 6vw;
                }
                #watch-tutorial{
                    font-size: 7vw;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    #play{
                        width: 15vw;
                        margin: 0 auto;
                    }
                }
            }
            img{
                width:50vw;
                margin: 0 auto;
            }
        }
        #services{
            display: flex;
            flex-direction: column;
            justify-content: center; 
            .services-text{
                font-size: 7vw;
            }
            hr{
                width: 20vw;
            }  
            .services-photos > div{
                margin: 5vw;
            }       
            .services-photos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .service1{
                    text-align: center;
                    font-size: 6vw;
                    img{
                        width: 20vw;
                    }
                }
                .service2{
                    text-align: center;
                    font-size: 6vw;
                    img{
                        width: 20vw;
                    }
                }
                .service3{
                    text-align: center;
                    font-size: 6vw;
                    img{
                        width: 20vw;  
                    }
                }
                
            }
            .all-services{
                margin: 2vw auto;
                width: 30vw;
                height: 6vw;
                font-size: 5vw;
            }
        }
        #choose-us{
            #why-choose{
                font-size: 7vw;
                hr{
                    width: 20vw;
                }
            }
            #highlights-pics{
                display: flex;
                justify-content: center;
                flex-direction: column;
                #highlights{
                    margin: 0 auto;
                    font-size: 5vw;
                    padding: 5vw;
                    ul{
                        li{
                            font-size: 5vw;
                        }
                    }
                }
                #network{
                    margin: 0 auto;
                    img{
                        width: 80vw;
                    }
                }
                
            }
        }
        #testimonials{
            font-size: 7vw;
            hr{
                width: 20vw;
            }
            #clients-pics{
                display: flex;
                flex-direction: column;
            }
            #clients-pics #client1{
                border-left: none;
            }
            #clients-pics #client1 #pic1 img{
                width: 25vw;
            }
            #clients-pics #client1 #pic1 b{
                font-size: 7vw;
            }
            #clients-pics #client1 #pic1{
                font-size: 5vw;
            }
            #clients-pics #client1 #text1{
                font-size: 5vw;
            }
            #clients-pics #client2{
                border-left: none;
            }
            #clients-pics #client2 #pic2 img{
                width: 25vw;
            }
            #clients-pics #client2 #pic2 b{
                font-size: 7vw;
            }
            #clients-pics #client2 #pic2{
                font-size: 5vw;
            }
            #clients-pics #client2 #text2{
                font-size: 5vw;
            }
        }
        #social-media{
            #social-media-text{
                font-size: 7vw;
                hr{
                    width: 20vw;
                }
            }
            #social-media-icons{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                img{
                    width: 20vw;
                }
            }
            
        }
        footer{
            .footer-logo{
                img{
                    width: 50vw;
                }
            }
            .contact{
                font-size: 5vw;
                input{
                    width: 60vw;
                    height: 8vw;
                    border-radius: 1.5vw;
                    font-size: 5vw;
                    &::placeholder{
                        font-size: 4vw;  
                    }
                }
                div{
                    margin: 0 auto;
                    width: 30vw;
                    font-size: 6vw;
                    margin-bottom: 25vw;
                }
            }
            .credits{
                font-size: 4.5vw;
                width: 50vw;
                border-radius: 2vw;
            }
        }
    }
}
@media only screen and (max-width:768px )and (min-width:427px)
{
    body{
        nav ul li a{
            font-size: 1.7vw;
        }
        nav ul{
            
            margin-left: -18vw;
        }
        nav img{
            width: 20vw;
        }
        #intro #intro-text{
            font-size: 3.5vw;
            span{
                font-size: 2vw;
            }
            #watch-tutorial{
                font-size: 2vw;
                img{
                    width: 5vw;
                }
            }

        }
        #intro img{
            margin-left: -2vw;
            width: 40vw;
        }
        #services .services-text{
            font-size: 4vw;
        }
        #services hr{
            width: 10vw;
        }

        #services .services-photos .service1{
            font-size: 2.5vw;
        }
        #services .services-photos .service2{
            font-size: 2.5vw;
        }
        #services .services-photos .service3{
            font-size: 2.5vw;
        }
        #services .all-services{
            font-size: 3vw;
            width: 20vw;
            height: 3.5vw;
        }
        #choose-us #why-choose{
            font-size: 4vw;
            hr{
                width: 10vw;
            }
        }
        #choose-us #highlights-pics #highlights{
            font-size: 3vw;
            ul li{
                font-size: 2vw;
            }
        }
        #choose-us #highlights-pics #network img{
            width: 35vw;
        }
        #testimonials{
            font-size: 4vw;
            hr{
                width: 10vw;
            }
            #clients-pics #client1 #pic1 img{
                width: 10vw;
            }
            #clients-pics #client1 #pic1 b{
                font-size: 2vw;
            }
            #clients-pics #client1 #pic1 {
                font-size: 1.5vw;
            }
            #clients-pics #client1 #text1{
                font-size: 2vw;
            }
            #clients-pics #client2 #pic2 img{
                width: 10vw;
            }
            #clients-pics #client2 #pic2 b{
                font-size: 2vw;
            }
            #clients-pics #client2 #pic2 {
                font-size: 1.5vw;
            }
            #clients-pics #client2 #text2{
                font-size: 2vw;
            }
        }
        #social-media #social-media-text{
            font-size: 4vw;
            hr{
                width: 10vw;
            }
        }
        #social-media #social-media-icons img{
            width: 8vw;
        }
        footer{
            .footer-logo{
                img{
                    width: 20vw;
                }
            }
            .contact{
                font-size: 3vw;
                input{
                    width: 30vw;
                    height: 4vw;
                    border-radius: 1vw;
                    font-size: 2.5vw;
                    &::placeholder{
                        font-size: 2vw;  
                    }
                }
                div{
                    width: 10vw;
                    font-size: 2vw;
                    margin-bottom: 10vw;
                }
            }
            .credits{
                font-size: 2vw;
                width: 30vw;
                border-radius: 1vw;
            }
        }

       
    }
}

